header, 
footer,
#services,
#gallery {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Martel', serif;
    font-family: 'Staatliches', cursive; 
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, .15);
    position: fixed;
    width: 96%;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Martel', serif;
    font-family: 'Staatliches', cursive;
}

header img {
    width: 10%;
}

nav .nav_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}

nav .nav_items li {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
}

nav .nav_items a {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

#hero {
    display: flex;
    justify-content: center;
    background: url('IMG/dogsOnLeash.jpg') fixed;
    background-size: cover;
    height: 100vh;
    align-items: flex-end;
    justify-content: end;
}

#mediaHero {
    display: none;
}

@media screen and (max-width: 500px) {
    #hero, header {
        display: none;
    }
    #mediaHero {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #BF5700;
        height: 100vh;
    }
    #mediaHero img {
        width: 50%;
    }
}

#hero .IG {
    height: 15%;
    padding: 20px;
}

section {
    height: fit-content;
}

#about {
    background: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 100px;
}

#about p {
    font-size: 28px;
    font-weight: bolder;
}

#services {
    display: flex;
    flex-direction: column;
    background: rgba(191, 87, 0, .2);
    padding: 100px;
}

#services span {
    display: none;
    /* width: 100%;
    background: #BF5700;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 32px; */
}

#services .img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 10px #000;
}

#services .img-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .img-container div p {
    font-size: 22px;
}

@media screen and (max-width: 500px) {

    #services {
        padding: 35px;
    }

    #services .img-container {
        flex-direction: column;
        padding: 50px;
    }

    #services img {
        padding-top: 10px;
    }
}

#testimonials {
    display: none;
} 

#gallery {
    display: flex;
    flex-direction: column;
}

#gallery span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 42px;
    background: rgba(191, 87, 0, .7);
    padding-top: 50px;
}

.galContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(191, 87, 0, .7);
} 

.galleryContain {
    width: 20%;
    padding: 20px;
}

.doggoImg {
    width: 100%;
    border: #000 solid 2px;
    box-shadow: 4px 4px 8px #000;
}

.doggoBio {
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.holderBio {
    color: rgba(191, 87, 0, .01);
    font-size: 28px;
}

@media screen and (max-width: 700px) {
    .galleryContain {
        width: 80%;
        padding: 0;
    }
}

#testimonials {
    background: #fff;
}

footer {
    background: #BF5700;
    color: #fff;
    text-shadow: 2px 2px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

footer span {
    font-size: 28px;
}

footer a {
    width: 4%;
}

footer img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    footer h2 {
        font-size: 15px;
    }

    footer span {
        font-size: 20px;
    }

    footer a {
        width: 20%;
    }
}