header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 96%;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Martel', serif;
    font-family: 'Staatliches', cursive;
}

header img {
    width: 10%;
}

nav .nav_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}

nav .nav_items li {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
}

nav .nav_items a {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

#hero {
    display: flex;
    justify-content: center;
    background: url('IMG/dogsOnLeash.jpg') fixed;
    background-size: cover;
    height: 100vh;
    align-items: flex-end;
    justify-content: end;
}

#hero .IG {
    height: 15%;
    padding: 20px;
}

section {
    height: 100vh;
}

#about {
    background: #fff;
}

#services {
    background: #BF5700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#services .img-container {
    display: flex;
}

#testimonials {
    background: #fff;
}

footer {
    background: black;
    color: #fff;
}