header, 
footer,
#services,
#gallery {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Martel', serif;
    font-family: 'Staatliches', cursive; 
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, .15);
    position: fixed;
    width: 96%;
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Martel', serif;
    font-family: 'Staatliches', cursive;
}

header img {
    width: 10%;
}

nav .nav_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    
}

nav .nav_items li {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
}

nav .nav_items a {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}

#hero {
    display: flex;
    justify-content: center;
    background: url('IMG/hero10.png') fixed;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Yellowtail', cursive;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    flex-direction: column;
}

#hero h1,
#hero h2 {
    margin: 0;
}

#mediaHero {
    display: none;
}

@media screen and (max-width: 500px) {
    #hero, #header, header Img {
        display: none;
    }

    header {
        padding: 0;
    }

    #mediaHeader {
        background: transparent;
    }

    #mediaHero {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #BF5700;
        height: 100vh;
    }
    #mediaHero img {
        width: 50%;
    }

    nav .nav_items li {
        font-size: 10px;
    }
}

#hero .IG {
    height: 15%;
    padding: 20px;
}

section {
    height: fit-content;
}

#about {
    background: #fff;
    padding: 100px;
}

/* #about h2 {
    text-decoration: underline;
} */

#about p {
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', Sans-Serif;
    line-height: 2;
}

#about .about_header {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Playfair Display', Serif;
}

@media screen and (max-width: 500px) {
    #about {
        padding: 40px;
    }

    #about p {
        font-size: 16px;
    }
}

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background: url('IMG/ATX.jpg') fixed; */
    background-size: cover;
}

#services .services-span-one {
    font-size: 28px;
}

#services span {
    /* display: none; */
    
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

#services .services-container {
    background: #fff;
    box-shadow: 5px 5px 10px #000;
    padding: 20px;
}

#services .img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#services .img-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .img-container div p {
    font-size: 22px;
}

@media screen and (max-width: 500px) {

    #services {
        padding: 10px;
    }

    #services .img-container {
        flex-direction: column;
        padding: 50px;
    }

    #services img {
        padding-top: 10px;
    }
}

#testimonials {
    display: none;
} 

#gallery {
    display: flex;
    flex-direction: column;
    
}

#gallery span,
.galContainer {
    /* background: rgba(0, 0, 0, .85); */
    background: #fff;
}

#gallery span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 85px;
    padding: 50px 0;
    font-family: 'The Nautigal', cursive;
    color: #000;
}

.galContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 200px;
} 

.galleryContain {
    width: 24%;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    background: #BF5700;
}

.galleryContain:last-child {
    background: white;
}

.doggoImg {
    width: 100%;
    
}

.doggoBio {
    display: flex;
    justify-content: center;
    font-size: 28px;
}

.doggoBio p {
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.holderBio {
    color: rgba(191, 87, 0, .01);
    font-size: 28px;
}

@media screen and (max-width: 700px) {
    .galleryContain {
        width: 100%;
        padding: 0;
    }

    #gallery span {
        padding-bottom: 40px;
        font-size: 50px;
    }
}

#testimonials {
    background: #fff;
}

footer {
    background: linear-gradient(to top, #BF5700 0%, rgba(0,0,0,.85) 100%);
    color: #fff;
    text-shadow: 2px 2px #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 40vh;
    flex-direction: column;
}

footer span {
    font-size: 28px;
}

footer a {
    width: 4%;
}

footer img {
    width: 100%;
}

@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        text-decoration: none;
    }

    footer h2 {
        font-size: 15px;
    }

    footer span {
        font-size: 20px;
    }

    footer a {
        width: 20%;
    }
}